<nav class="navbar navbar-dark bg-dark" >
    <div class="container-fluid">

        <div class="" style="display: flex; justify-content: center; align-items: center;" >
            <img src="/assets/logo.png" style="width: 30px; margin-right: 10px;" alt="">
            <a  class="navbar-brand" href="#">Sapa</a>
        </div>
        <span style="color: white;" routerLink="/todasRevisiones/{{ idPadre }}" >Regresar</span>


    </div>
</nav>

<div class="container">

    <h1 class="text-center mt-5" >Revision No. {{ id }} </h1>

    <div class="mat-elevation-z8">

        <table style="margin-top: 30px;"  class="table" >
        <thead>
            <tr>
    
                <th scope="col" class="text-center" >item</th>
                <th scope="col" class="text-center">Estado</th>
                <th scope="col" class="text-center">Observacion</th>
            </tr>
        </thead>
        <tbody>
            @for (item of contDetalles; track $index) {
    
                <tr>
                    <td class="text-center" > {{ item.subcategoria }} </td>
                    <td class="text-center" > {{ item.estado }} </td>
                    <td class="text-center" > {{ item.observacion }} </td>
                </tr>
            }
    
    
        </tbody>
        </table>
    </div>

</div>