<form (ngSubmit)="agregar()" [formGroup]="form">

  <div class="container " >

    <div class="cont_informacion">

      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Id del vehiculo" (input)="onSelect($event)">
      
      <datalist id="datalistOptions">
        <option *ngFor="let item of vehicles" [value]="item.id"></option>
      </datalist>
  
      <input formControlName="funcionarioId" class="form-control" type="number" placeholder="Id de funcionario">
      
      <input formControlName="date" id="startDate" class="form-control" type="date">
    </div>
  

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Luces
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Subcategoría</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of detallesRevision; let i = index">

                      @if ( item.subcategoria.includes("LUZ" ) || item.subcategoria.includes("LUCES" ) ) {

                        <td>{{ item.subcategoria }}</td>
                        <td>{{ item.estado }}</td>
                        
                        <td>

                          <div class="cont_calificacion">
              
                            <button type="button" class="btn btn-danger btn-personalizado" (click)="sumar(-1, i)">-</button>
    
                            <ng-container *ngIf="item.estado > 2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="green" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
                              </svg>
                            </ng-container>
                  
                            <ng-container *ngIf="item.estado === 2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="orange" class="bi bi-emoji-neutral-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m-3 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
                              </svg>
                            </ng-container>
                  
                            <ng-container *ngIf="item.estado < 2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="red" class="bi bi-emoji-frown-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m-2.715 5.933a.5.5 0 0 1-.183-.683A4.5 4.5 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.5 3.5 0 0 0 8 10.5a3.5 3.5 0 0 0-3.032 1.75.5.5 0 0 1-.683.183M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
                              </svg>
                            </ng-container>
                          
                            <button type="button" class="btn btn-success btn-personalizado" (click)="sumar(1, i)">+</button>
    
                          </div>

                        </td>
                      }
                    </tr>
                  </tbody>
                </table>


          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordionAsientos">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
            Asientos
          </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionAsientos">
          <div class="accordion-body">

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Subcategoría</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of detallesRevision; let i = index">

                      @if ( item.subcategoria.includes("ASIENTOS" ) ) {

                        <td>{{ item.subcategoria }}</td>
                        <td>{{ item.estado }}</td>
                        
                        <td>
                          <div class="cont_calificacion">
              
                            <button type="button" class="btn btn-danger btn-personalizado" (click)="sumar(-1, i)">-</button>
    
                            <ng-container *ngIf="item.estado > 2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="green" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
                              </svg>
                            </ng-container>
                  
                            <ng-container *ngIf="item.estado === 2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="orange" class="bi bi-emoji-neutral-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m-3 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
                              </svg>
                            </ng-container>
                  
                            <ng-container *ngIf="item.estado < 2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="red" class="bi bi-emoji-frown-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m-2.715 5.933a.5.5 0 0 1-.183-.683A4.5 4.5 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.5 3.5 0 0 0 8 10.5a3.5 3.5 0 0 0-3.032 1.75.5.5 0 0 1-.683.183M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
                              </svg>
                            </ng-container>
                          
                            <button type="button" class="btn btn-success btn-personalizado" (click)="sumar(1, i)">+</button>
    
                          </div>                        </td>
                      }
                    </tr>
                  </tbody>
                </table>


          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordionVidrios">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
            Vidrios
          </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionVidrios">
          <div class="accordion-body">

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Subcategoría</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of detallesRevision; let i = index">
                  
                  <ng-container *ngIf="item.subcategoria.includes('VIDRIO')">
                    <td>{{ item.subcategoria }}</td>
                    <td>{{ item.estado }}</td>
                    
                    <td>
                      <div class="cont_calificacion">
              
                        <button type="button" class="btn btn-danger btn-personalizado" (click)="sumar(-1, i)">-</button>

                        <ng-container *ngIf="item.estado > 2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="green" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
                          </svg>
                        </ng-container>
              
                        <ng-container *ngIf="item.estado === 2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="orange" class="bi bi-emoji-neutral-fill" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m-3 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
                          </svg>
                        </ng-container>
              
                        <ng-container *ngIf="item.estado < 2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="red" class="bi bi-emoji-frown-fill" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m-2.715 5.933a.5.5 0 0 1-.183-.683A4.5 4.5 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.5 3.5 0 0 0 8 10.5a3.5 3.5 0 0 0-3.032 1.75.5.5 0 0 1-.683.183M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
                          </svg>
                        </ng-container>
                      
                        <button type="button" class="btn btn-success btn-personalizado" (click)="sumar(1, i)">+</button>

                      </div>
                    </td>
                  </ng-container>
            
                </tr>
              </tbody>
            </table>
            


          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordionEspejos">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
            Espejos
          </button>
        </h2>
        <div id="collapse4" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionEspejos">
          <div class="accordion-body">

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Subcategoría</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of detallesRevision; let i = index">

                      @if ( item.subcategoria.includes("ESPEJO" ) ) {

                        <td>{{ item.subcategoria }}</td>
                        <td>{{ item.estado }}</td>
                        
                        <td>
                          <div class="cont_calificacion">
              
                            <button type="button" class="btn btn-danger btn-personalizado" (click)="sumar(-1, i)">-</button>
    
                            <ng-container *ngIf="item.estado > 2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="green" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
                              </svg>
                            </ng-container>
                  
                            <ng-container *ngIf="item.estado === 2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="orange" class="bi bi-emoji-neutral-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m-3 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
                              </svg>
                            </ng-container>
                  
                            <ng-container *ngIf="item.estado < 2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="red" class="bi bi-emoji-frown-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m-2.715 5.933a.5.5 0 0 1-.183-.683A4.5 4.5 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.5 3.5 0 0 0 8 10.5a3.5 3.5 0 0 0-3.032 1.75.5.5 0 0 1-.683.183M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
                              </svg>
                            </ng-container>
                          
                            <button type="button" class="btn btn-success btn-personalizado" (click)="sumar(1, i)">+</button>
    
                          </div>                        
                        </td>
                      }
                    </tr>
                  </tbody>
                </table>


          </div>
        </div>
      </div>
    </div>




    <div class="cont-btn">

      <button class="btn btn-success btn-enviar my-5" type="submit">Agregar</button>
    </div>

  </div>



  </form>
  