.sesion{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid wheat;
    margin: 0;
    padding: 0;
    height: 100%;
}

.contVehiculo{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (min-width: 1400px) {
    .contVehiculo mat-form-field:last-child  {
        width: 550px;
    }
}