<nav class="navbar navbar-dark bg-dark" >
    <div class="container-fluid">

        <div class="" style="display: flex; justify-content: center; align-items: center;" >
            <img src="/assets/logo.png" style="width: 30px; margin-right: 10px;" alt="">
            <a  class="navbar-brand" href="#">Sapa</a>
        </div>
        <span style="color: white;" routerLink="/monitor" >Regresar</span>


    </div>
</nav>

<form class="container" [formGroup]="form" >

    <h1 class="text-center mt-5" >Historial de revisiones</h1>

    <div class="contVehiculo">

        <mat-form-field class="example-full-width">
            <mat-label>Asignado</mat-label>
            <input readonly="" formControlName="asignado" matInput placeholder="" >
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <mat-label>No. Economico</mat-label>
            <input readonly="" formControlName="noEconomico" matInput placeholder="" >
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <mat-label>Ubicación</mat-label>
            <input readonly="" formControlName="ubicacion" matInput placeholder="" >
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <mat-label>Marca</mat-label>
            <input readonly="" formControlName="marca" matInput placeholder="" >
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <mat-label>Modelo</mat-label>
            <input readonly="" formControlName="modelo" matInput placeholder="" >
        </mat-form-field>
    
        <mat-form-field  class="example-full-width">
            <mat-label>Descripcion</mat-label>
            <input readonly="" formControlName="descripcion" matInput placeholder="" >
        </mat-form-field>

    </div>
    
    
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
    
          <!-- Position Column -->
          <ng-container matColumnDef="norevision">
            <th mat-header-cell *matHeaderCellDef> No. de revisión </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
    
          <!-- Name Column -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
          </ng-container>
    
          <!-- Weight Column -->
          <ng-container matColumnDef="detalles">
            <th mat-header-cell *matHeaderCellDef> Detalles </th>
            <td mat-cell *matCellDef="let element"> 
                <button class="btn btn-success" routerLink="/detalles/{{ element.id }}"  >Ver mas</button> 

            </td>
        </ng-container>
    

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
    




</form>

