.cont_mensaje_success {
    background-color: rgba(0, 0, 0, 0.178);
    width: 100%;
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 

    .mensaje_success {
        background-color: white;
        padding: 80px 20px;
        border-radius: 10px;
        color: rgb(30, 109, 56);
        position: relative;

        .btn_cerrar_success {
            border-radius: 5px;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;

            &:hover {
                background-color: rgba(219, 219, 219, 0.637);
            }
        }
    }
}

.cont_mensaje_error {
    background-color: rgba(0, 0, 0, 0.178);
    width: 100%;
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 

    .mensaje_error {
        background-color: white;
        padding: 80px 20px;
        border-radius: 10px;
        color: rgb(141, 13, 13);
        position: relative;

        .btn_cerrar_error {
            border-radius: 5px;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;

            &:hover {
                background-color: rgba(219, 219, 219, 0.637);
            }
        }
    }
}

.cont_mensaje_null {
    background-color: rgba(0, 0, 0, 0.178);
    width: 100%;
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 

    .mensaje_null {
        background-color: white;
        padding: 80px 20px;
        border-radius: 10px;
        color: rgb(141, 13, 13);
        position: relative;

        .btn_cerrar_null {
            border-radius: 5px;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;

            &:hover {
                background-color: rgba(219, 219, 219, 0.637);
            }
        }
    }
}

.cont_datos{
    display: flex;
    justify-content: space-evenly;
}

.id_autocomplete{
    width: 100%;
    height: auto;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.id_autocomplete>:first-child {
    width: 80%;
}

.cont_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

table{
    width: 80%;
}

.cont_table{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    padding: 10px;
}

.mat-column-Calificacion {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    width: 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.contobservaciones{
    display: flex;
    justify-content: center;
    align-items: center;

    mat-form-field{
        width: 50%;
    }
}

.cont-header{
    display: flex;
    width: 100vw;
}

.cont_icon{
    width: 30%;

}

.sesion{
    width: 70%;
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    gap: 20px;
    span{
        width: auto;
        display: flex;
        align-items: center;
    height: 50px;  
}

}


.encabezado{
    background-color: rgb(83, 139, 83);
    padding: 5% 0;
    display: flex;
    justify-content: center;align-items: center;
    color: white;
}

@media (max-width: 1000px) {

    .cont_datos{
        flex-wrap: wrap;
    }

    .cont_datos > :not(:first-child) {
        width: 42%;
    }

    .cont_datos>:first-child {
        width: 90%;
    }
    .cont_btn button{
        width: 95%;
    }

    .contobservaciones{

        mat-form-field{
            margin-top: 10px;
            width: 95%;
        }
    }

    .encabezado{
        h1{
            font-size: 35px;
        }
    }
    
    

}
